@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
}

header {
    background-color: transparent;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
}

.navbar-brand {
        color: white;
}
    

    .nav-link {
    color: white;
}

.icono {
    text-align: center;
    background-color: #1dcdf1;
}

.card-body {
background-color: black;
text-align: center;
}

.card-section {
    background-color: black;
}
.card-img-top {
    object-fit: cover;
    height: 12rem;
}

.container, .container-texto, .card-text {
    background-color: black;
}    
    

.titulo, .contacto {
    text-align: center;
}

.container-form {
    padding: 5rem;
    background-color: black;
    
}

.rrss {
    background-color: #1dcdf1;
    padding: 1rem;
    display: flex;
    justify-content: space-around;    
}

.form-label {
    color: white;
}

.modal-title {
    color: black;
}



