@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
    
    
}

.navbar {
    
    color: white;
    background-color: transparent;
    backdrop-filter: blur(10px)}

    .navbar-brand {
        color: white;
    }
    

    .nav-link {
    color: white;
}

.icono {
    text-align: center;
    background-color: #1dcdf1;
}


.card-body {
background-color: black;
text-align: center;
}



.card-img {
    background-color: black;
}



.card {
    background-color: #1dcdf1;
    padding: 10px;

}

.container, .container-texto, .card-text {
    background-color: black;
}    
    

.card-texto {
    background-color: #1dcdf1;
    
}


.titulo, .contacto {
    text-align: center;
}



.container-form {
    padding: 5rem;
    background-color: black;
    
}

.rrss {
    background-color: #1dcdf1;
    padding: 1rem;
    display: flex;
    justify-content: space-around;    
}

.sect1 {
    background-color: black;
   
}


.form-label {
    color: white;
}



